.dashboard-container{
    width: 98%;
    height:90%;
    margin: 0 auto;
    display: flex;
    margin-top: 2.25em;
}

.dashboard-menu{
    flex:0.2;
    gap:0.1;
}

.dashboard-menu ul{
    list-style: none;
    font-size: 16px;
    padding: 0;
}

.dashboard-menu ul li{
    padding: 0.5em 1em;
}

.dashboard-menu ul li a{
    display: block;
    text-decoration: none;
    color:#000;
    padding: 0.75em 1em;
}

.dashboard-menu ul li a:hover{
    background-color: #f5f5f5;
    border-radius: 3px;
}

.dashboard-content{
    flex: 2.7;
}